*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  zoom: 90%;
}

body {
  font-size: 1.6rem;
  font-family: netflix;
  background: rgb(20, 20, 20);
}

@font-face {
  font-family: netflix;
  src: url(./fonts/NetflixSans-Light.woff2);
}
